API_BASE_URL = "https://sterlingfixtures.herokuapp.com"
PORT=3000
FIREBASE_DYNAMIC_LINK_API_URL="https://firebasedynamiclinks.googleapis.com/v1/shortLinks?key=AIzaSyCKIFx9CbWjm2T7JjKOnRhoRZzosMDHC1Y"
FIREBASE_DYNAMIC_LINK_APP_URL=
ELASTIC_PREFIX=